@import '../../var';
@import '../../mixin';

.songs-list {
  &__list {
    max-height: 250px;
    height: 100%;
    overflow-y: scroll;
  }

  &__empty {
    display: flex;
		align-items: center;
    min-width: 320px;
    max-width: 370px;
    height: 5.5rem;
    padding: 30px;
    font-weight: 500;
    color: $secondary-color;
    font-size: 1.5rem;
  }
}

@include mq-min(1000) {
  .songs-list {
    &__list {
      max-height: 500px;
    }
  }
}
