@import '../../var';
@import '../../mixin';

.overlay {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  background: $grey-color;
}

.loader {
  display: inline-block;
  position: absolute;
  width: 8rem;
  height: 8rem;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background: $highlight-color;
    animation: loader 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;

    &:nth-child(1) {
      @include tickLeftPositionAndDelay(8px, -0.24s);
    }

    &:nth-child(2) {
      @include tickLeftPositionAndDelay(32px, -0.12s);
    }

    &:nth-child(3) {
      @include tickLeftPositionAndDelay(56px, 0);
    }
  }
}

@keyframes loader {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}
