// colors
$primary-color: #97a9b2;
$secondary-color: #72848c;
$main-color: #fff;
$dark-bg-color: #4f5b60;
$border-color: #dee7eb;
$grey-color: rgba(204,204,204,0.5);
$dark-grey-color: #97a9b2;
$highlight-color: #10b1dc;
$gradient-start-color: #07a7e3;
$gradient-end-color: #31d9c3;
